@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #8AA6A3;
}

.calculadora {
    position: relative;
    display: grid;
}

.calculadora .value {
    position: static;
    grid-column: span 4;
    width: 240px;
    height: 100px;
    border: 1px solid #323e4086;
    outline: none;
    text-align: right;
    padding: 10px;
    font-weight: 700;
    font-size: 40px;
}

.calculadora span {
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #323E40;
    place-items: center;
    border: 1px solid #354346;
}   

.calculadora span:active {
    background: #499b38;
    color: #111;
}

.calculadora span.clear {
    grid-column: span 2;
    width: 120px;
    background: #F2A922;
    border: 1px solid #4d4d4d6b;
}

.calculadora span.clear:active {
    background: #be810f;
}

.calculadora span.plus {
    grid-row: span 2;
    height: 120px;
}

.calculadora span.equal {
    background: #D9501E;
}

.calculadora span.equal:active {
    background: #b63608;
}